@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  
}

h1{
  padding: 20px;
  text-align: center;
  background-color: #11343d;
  color: white;
  margin-bottom: 40px;
}
.fullLayout{
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.inputNadd{
  text-align: center;
  margin-bottom: 30px;
}

.inputNadd input{
  padding: 15px;
  width: 450px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #11343d;
}
.inputNadd button{
  padding: 18px;
  width: 100px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: #11343d;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.todoItem{
  display: flex;
  padding: 15px;
  background-color: white;
  margin: 10px;
  width: 560px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  
}
.todoItem p{
  font-size: 20px;
  color: #11343d;
  font-weight: 500;
  padding: 10px;
  
}
.editNdel{
  margin-left: auto;
}
.errorCom{
  width: 560px;
  margin-Left: auto;
  margin-Right: auto
}
.notodos p{
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: #757575;
}


@media only screen and (max-width: 680px){
  .inputNadd input{
    width: 100%;
  }
  .inputNadd button{
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
  }
  .todoItem{
    width: 100%;
  }
  .errorCom{
    width: 100%;
  }
}

